*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.calendar{
    width: 400px;
    background-color: blue;
    padding: 20px;
}

.week-days , .days{
    display: flex;
    flex-wrap: wrap;
}

.days{
    height: 240px;
    color: #d1d1d1;
}

.week-days div , .days div{
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.days div{
    cursor: pointer;
    transition: background-color 0.2s;
}

.days div:hover{
    background-color: white;
    color: blue;
}

.days .today{
    background-color: white;
    color: blue;
}

.fade{
    color: #666;
}






