*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Bitcount;
    src: url(./fonts/Outfit-VariableFont_wght.ttf);
}
body{
    font-family: 'Bitcount';
    display: grid;
    place-items: center;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url(./images/—Pngtree—close-up\ of\ a\ pair\ heavy_16432146.png) center/cover no-repeat;
    height: 100vh;
    margin: 0;
}

li{
    list-style-type: none;
}

h3{
    font-size: 24px;
}

i{
    color: #ff8c00;
}

.base {
    position: relative;
    padding: 60px 20px;
    border-radius: 50px;

    background:
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
        url("./images/—Pngtree—close-up\ of\ a\ pair\ heavy_16432146.png")
        center/cover no-repeat;
}

.base::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px; /* ضخامت بوردر */
    border-radius: inherit;
    background: linear-gradient(90deg, #66666672, #ffae00, #66666674);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
}
.base-heading{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 20px;
}

.head-title h2{
    letter-spacing: 20px;
    font-size: 32px;
    color: #ff8c00;
}
.head-title p{
    letter-spacing: 10px;
}

.head-infos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
}

.head-infos  i{
    font-size: 22px;
}

.info-title,.info-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
}

.info-title i{
    margin-right: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.calendar{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.66) , #363636a2);
    padding: 15px;
    box-shadow: 0 0 10px 5px rgba(60, 51, 0, 0.438);
    corner-shape : squircle;
    border-radius: 50px;
    width: calc(60vw - 10px);
    height: 60vh;
}

.header{
    text-align: center;
    font-weight: 900;
    color: #ff8c00;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.week-days , .days{
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
}

.days{
    height: 240px;
    color: #ffae00;
    margin: 2px;
}

.week-days div , .days div{
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
}

.days div{
    cursor: pointer;
    transition: background-color 0.2s;
}

.days div:hover{
    background-color:#856216;
    color: #dbdbdb;
}

.days .today{
    background-color:#ffae00;
    color: #000000;
}

.fade{
    color: #666;
}

.header i {
    margin:0 20px;
    cursor: pointer;
}
.header i:hover{
    color: #856216;
}

.tasks{
    width:calc(30vw - 20px);
    height: 60vh;
    background: linear-gradient(90deg , #3636367e , rgba(30, 30, 30, 0.824));
    box-shadow: 0 0 10px 5px rgba(60, 51, 0, 0.438);
    display: flex;
    margin:0 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    corner-shape:squircle ;
}

.tsk-header{
    margin-top: 20px;
    color: #ff8c00;
}

.tsk-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg , #ff8c0078,#ffae00aa);
    box-shadow:0 0 5px 1px #ff8c00;
    border-radius: 100px;
    corner-shape:squircle;
    height: 50vh;
    width: 22vw;
    margin:20px 0;
    transition: 0.5s ease;
}
.tsk-list:hover{
    margin-top: 30px;
}

.tsk-list img{
    width: 40px;
    height: 40px;
    margin: 0 20px;
    color: white;
}

#shoulder{
    mix-blend-mode: multiply;
}
.tsk-item{
    color: white;
    cursor: grab;
    user-select: none;
    background-color: rgba(23, 23, 23, 0.329);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
}






