* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Bitcount;
    src: url(./fonts/Outfit-VariableFont_wght.ttf);
}

body {
    font-family: 'Bitcount';
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(./images/—Pngtree—stunning\ view\ of\ a\ contemporary_3760108.jpg) center/cover no-repeat;
    height: 100vh;
    margin: 0;
}

li {
    list-style-type: none;
}

h3 {
    font-size: 24px;
}

i {
    color: #ff8c00;
}

.base {
    position: relative;
    padding: 60px 20px;
    border-radius: 50px;

    background:
        linear-gradient(rgba(255, 162, 0, 0.105), rgba(0, 0, 0, 0.516)),
        url("./images/—Pngtree—stunning\ view\ of\ a\ contemporary_3760108.jpg") center/cover no-repeat;
}


.base::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    /* ضخامت بوردر */
    border-radius: inherit;
    background: linear-gradient(135deg, #66666672, #ffae008a, #b6b6b674);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
}

.base-heading {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 20px;
}

.head-title h2 {
    letter-spacing: 20px;
    font-size: 32px;
    color: #ff8c00;
}

.head-title p {
    letter-spacing: 10px;
}

.head-infos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
}

.head-infos i {
    font-size: 22px;
}

.info-title,
.info-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
}

.info-title i {
    margin-right: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.calendar {
    background: linear-gradient(90deg, #16161674, #0202025a);
    padding: 15px;
    box-shadow: 0 0 10px 5px rgba(60, 51, 0, 0.438);
    corner-shape: squircle;
    border-radius: 50px;
    width: calc(60vw - 10px);
    height: 60vh;
}

.header {
    text-align: center;
    font-weight: 900;
    color: #ff8c00;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.week-days,
.days {
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
}

.day-div {
    display: flex;
    justify-content: center;

}

.day-div img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    mix-blend-mode: multiply;
}

.days {
    height: 240px;
    color: #ffae00;
    margin: 2px;
}

.week-days div,
.days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
}

.days div {
    cursor: pointer;
    transition: background-color 0.2s;
}

.days div:hover {
    background-color: #856216;
    color: #dbdbdb;
}

.days .today {
    background-color: #ffae00;
    color: #000000;
}

.fade {
    color: #666;
}

.header i {
    margin: 0 20px;
    cursor: pointer;
}

.header i:hover {
    color: #856216;
}

.tasks {
    width: calc(30vw - 20px);
    height: 60vh;
    background: linear-gradient(90deg, #3636367e, rgba(30, 30, 30, 0.824));
    box-shadow: 0 0 10px 5px rgba(60, 51, 0, 0.438);
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    corner-shape: squircle;
}

.show-tasks {
    display: none;
}

.tsk-header {
    margin-top: 20px;
    color: #ff8c00;
}

.tsk-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, #ff8c0078, #ffae00aa);
    box-shadow: 0 0 5px 1px #ff8c00;
    border-radius: 100px;
    corner-shape: squircle;
    height: 50vh;
    width: 22vw;
    margin: 20px 0;
    transition: 0.5s ease;
}

.tsk-list:hover {
    margin-top: 30px;
}

.wt-icon {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    color: white;
}

#shoulder {
    mix-blend-mode: multiply;
}

.tsk-item {
    color: white;
    cursor: grab;
    user-select: none;
    background-color: rgba(23, 23, 23, 0.329);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
}

.dropped-card,
.workout-card {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 400px;
    background: linear-gradient(45deg, #000000d7, #2c2c2cee);
    corner-shape: squircle;
    border: 1px groove #2c2c2cee;
    border-radius: 100px;
    opacity: 1;
    overflow: hidden;
    transition: all .5s ease;
}

.workout-card {
    corner-shape: squircle;
    border-radius: 30%;
    border: 2px dotted #66666672;
    height: 500px;
    transform: translateX(-450px);
    background: linear-gradient(45deg, #000000d7, #2c2c2cee);
    box-shadow: 0 0 10px 5px rgba(53, 52, 47, 0.438);
}



.dropped-header,
.workout-header {
    display: flex;
    width: 25vw;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
    font-size: 32px;
    font-weight: 900;
}

.dropped-header i,
.workout-header i {
    cursor: pointer;
}

.dropped-header i.close,
.workout-header i.close {
    color: orangered;
}

.dropped-header i.check,
.workout-header i.check {
    color: yellowgreen;
}

.dropped-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7a7a7a;
    position: relative;
}

.clean-btn {
    position: absolute;
    scale: 1.2;
    bottom: 160px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(90deg, #02020220, #000000);
    color: white;
    z-index: 10;
}

.workout-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 70%;
    padding: 0 10px;
    margin: 10px 0;
    background: linear-gradient(90deg, #ff8c0078, #ffae00aa);
    box-shadow: 0 0 5px 1px #ff8c00;
    corner-shape: squircle;
    border-radius: 100px;
}

.wt-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wt-item {
    display: flex;
    width: 90%;
    padding: 5px 0px;
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 23, 23, 0.329);
    corner-shape: squircle;
    border-radius: 200px;
}

.wt-item .wt-icon {
    border: 1px groove white;
    border-radius: 50%;
    padding: 2px;
    mix-blend-mode: color-burn;
}



.item-num {
    margin: 0 20px;
    font-weight: 600;
    color: #a9a9a9;
    text-decoration: underline;
}

.item-text {
    color: white;
    font-weight: 300;
    font-size: 16px;
    width: 100vw;
    margin: 0 10px;
}


.card-dropzone {
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-dropzone .tsk-list {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 15vh;
    margin: 0;
    padding: 0;
}

.card-dropzone .tsk-list .tsk-item {
    width: 50px;
    margin: 0;
    padding: 10px 35px;
    justify-content: center;

}

#card-day {
    color: white;
}

.hide {
    opacity: 0;
    transition: 0.6s ease;
    transform: translateX(400px);
    visibility: hidden;
}

.different {
    scale: 1.2;
    border: 3px solid red;
    mix-blend-mode: multiply;
}

/* ************************************* */

/* ======== TABLET RESPONSIVE ========= */

/* ************************************* */


@media screen and (567px <=width <=1365px) {

    h3 {
        font-size: 24px;
    }

    .base {
        overflow: hidden;
        padding: 40px 10px;
        height: 90vh;
    }

    .base-heading {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90vw;
    }

    .head-infos {
        text-align: center;
        width: 90vw;
        display: flex;
        justify-content: space-evenly;
        margin: 30px 0;
    }

    .info-title,
    .info-text {
        width: 25vw;
        justify-content: space-evenly;
    }

    .month-year {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .calendar,
    .tasks {
        height: 100%;
    }

    .tsk-container {
        width: 100vw;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .tsk-list {
        height: 30vh;
        width: 25vw;
        margin: 10px 0;
        justify-content: center;
    }

    .tsk-item {
        width: 90%;
        padding: 10px 0;
        border-radius: 10px;
        font-size: 8px;
        margin: 10px 0;
        justify-content: flex-start;
    }

    .tsk-item .wt-icon {
        width: 30px;
        height: 30px;
        margin-right: 40px;
    }

    .dropped-card {
        width: 60vw;
        height: 30vh;
        border-radius: 60px;
        padding: 20px;
    }

    .dropped-header {
        width: 50vw;
        margin: 0px 30px;
        position: absolute;
        top: 30px;
        /* font-size: 24px; */
    }

    .dropped-info {
        position: absolute;
        top: 30%;
    }

    .clean-btn {
        bottom: 10%;
    }

    .card-dropzone .tsk-list {
        height: 50%;
        width: 50vw;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    .card-dropzone .tsk-list .tsk-item {
        width: 20%;
        padding: 20px;
        border-radius: 20px;
        justify-content: center;
        padding: 20px 0px;
    }

    .card-dropzone .tsk-list .tsk-item .wt-icon {
        margin-right: 20px;
        scale: 1.5;
    }
}

@media screen and (1365px >=width >=768px) {
    .tsk-item {
        font-size: 12px;
    }
}



/* ************************************* */

/* ======== MOBILE RESPONSIVE ========= */

/* ************************************* */

@media screen and (width <=568px) {

    h3 {
        font-size: 14px;
        margin-right: 6px;
        font-weight: 300;
    }
    hr{
        opacity: 0.2;
        background-color: #ffae00;
    }

    .base {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        height: 80vh;
        background: linear-gradient( #00000072 , #1e1a1a9a);
    }

    .base-heading {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80vw;
    }

    .head-title p {
        margin: 2px 0;
    }


    .head-infos {
        text-align: center;
        width: 80vw;
        display: flex;
        justify-content: center;
        margin: 10px 0;
        
    }
    
    .info-title,
    .info-text {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .info-title h3 , .info-text h3 {
        font-weight: 0;
    }

    .month-year {
        font-size: 20px;
        width: 100px;
    }

    .header {
        width: 100%;
    }

    

    .container {
        display: flex;
        flex-direction: column;
    }

    .calendar::before{
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px;
        /* ضخامت بوردر */
        border-radius: 10px;
        background: linear-gradient(135deg, #d0570072, #6464648a, #ff6a0093);
    
        -webkit-mask:
            linear-gradient(#121212 0 0) content-box,
            linear-gradient(#171616 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    
        pointer-events: none;
    }

    .calendar {
        width: 80vw;
        height: 50vh;
        transform: translateY(-15px);
        overflow: hidden;
        backdrop-filter: blur(1px);
        box-shadow: none;
    }

    .week-days{
        background:rgba(255, 255, 255, 0.086);
        border-radius: 10px;
    }


    @keyframes show {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .tasks {
        display: none;
        position: absolute;
        width: 80vw;
        background: linear-gradient(90deg, #363636, rgba(30, 30, 30, 0.824));
        height: 30vh;
        transform: translateY(-240px);
        border-radius: 50px;
    }

    .show-tasks {
        display: block;
        border: none;
        border-radius: 10px;
        padding: 10px;
        background-color: #ff8c00;
        color: white;
        width: 90%;
    }

    .show {
        display: flex;
        animation: show 0.5s ease;
    }

    .tsk-container {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tsk-container .tsk-list {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        column-gap: 2px;
        place-items: center;
        width: 100%;
        padding: 10px;
        border-radius: 30px;
        margin: 10px 0;
        height: 100%;
    }

    .tsk-container .tsk-list .tsk-item {
        width: 100%;
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2px;
    }

    .tsk-item span {
        transform: translateX(-10px);
        font-size: 12px
    }

    .wt-icon {
        width: 30px;
        height: 30px;
        justify-self: flex-start;
    }

    .workout-card {
        transform: translateX(0px);
        position: absolute;
        bottom: 10%;
        width: 90vw;
        height: 60%;
        border-radius: 30px;
    }

    .workout-header {
        width: 85%;
        position: absolute;
        top: 20px;
        font-size: 24px;
    }

    .workout-items {
        width: 100%;
        height: 80%;
        position: absolute;
        top: 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 20px;
        padding: 20px;
        border-radius: 50px;
    }

    .wt-item {
        width: 140px;
        border-radius: 50px;
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .wt-item .item-text {
        width: 80%;
        font-size: 12px;
        /* margin: 10px; */
    }

    .wt-item .wt-icon {
        width: 70%;
        height: 40px;
        transform: translateX(-10px);
        mix-blend-mode: multiply;
    }


    .day-div img {
        width: 25px;
        height: 20px;
    }

    .dropped-card {
        width: 70vw;
        height: 350px;
    }

    .dropped-header {
        position: absolute;
        width: 55vw;
        top: 40px;
    }

    .dropped-info {
        position: absolute;
        bottom: 20px;
    }

    .clean-btn {
        bottom: 10px;
        scale: 1;
    }

    .card-dropzone .tsk-list {
        width: 65vw;
        height: 8vh;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .card-dropzone .tsk-list .tsk-item {
        padding: 10px 20px;
    }

    .card-dropzone .tsk-list .tsk-item .wt-icon {
        width: 30px;
        height: 30px;
        scale: 1;
    }
}